<!-- Windows -->
<div ng-show="$uiRoute" ui-route="#/windows">
	<h2>Installing GIT on Windows</h2>

	<p>Test</p>
	<ul>
		<li>git --version</li>
	</ul>
	<p>Download</p>
	<ul>
		<li><a href="http://git-scm.com/downloads" target="_blank">http://git-scm.com/downloads</a></li>
		<li>Windows (Option)</li>
	</ul>
	<p>Install</p>
	<ul>
		<li>run installer</li>
	</ul>
	<p>Configure</p>
	<ul>
		<li>git config --global user.name "John Doe"</li>
		<li>git config --global user.email johndoe@example.com</li>
	</ul>
	<p>Test</p>
	<ul>
		<li>git --version</li>
	</ul>
</div>

<!-- Mac -->
<div ng-show="$uiRoute" ui-route="/mac">
	<h2>Installing GIT on Mac</h2>

	<p>Test</p>
	<ul>
		<li>git --version</li>
	</ul>
	<p>Download</p>
	<ul>
		<li><a href="http://git-scm.com/downloads" target="_blank">http://git-scm.com/downloads</a></li>
		<li>Mac OS X (Option)</li>
	</ul>
	<p>Install</p>
	<ul>
		<li>mount dmg</li>
		<li>run installer</li>
	</ul>
	<p>Configure</p>
	<ul>
		<li>git config --global user.name "John Doe"</li>
		<li>git config --global user.email johndoe@example.com</li>
	</ul>
	<p>Test</p>
	<ul>
		<li>git --version</li>
	</ul>
</div>


<!-- Linux -->
<div ng-show="$uiRoute" ui-route="/linux">
	<h2>Installing GIT on Linux (Debian)</h2>

	<p>Test</p>
	<ul>
		<li>git --version</li>
	</ul>
	<p>Install</p>
	<ul>
		<li>sudo add-apt-repository ppa:git-core/ppa</li>
		<li>sudo apt-get update</li>
		<li>sudo apt-get install git</li>
	</ul>
	<p>Configure</p>
	<ul>
		<li>git config --global user.name "John Doe"</li>
		<li>git config --global user.email johndoe@example.com</li>
	</ul>
	<p>Test</p>
	<ul>
		<li>git --version</li>
	</ul>
</div>
