<!-- Windows -->
<div ng-show="$uiRoute" ui-route="#/windows">
	<h2>Installing PhpStorm on Windows</h2>

	<p>Download</p>
	<ul>
		<li><a href="http://www.jetbrains.com/phpstorm/download/" target="_blank">http://www.jetbrains.com/phpstorm/download/</a></li>
		<li>Windows (Tab)</li>
		<li>Get PhpStorm 7 Now</li>
	</ul>
	<p>Install</p>
	<ul>
		<li>run installer</li>
		<li>if java is not installed the installer will also install java jre</li>
	</ul>
</div>

<!-- Mac -->
<div ng-show="$uiRoute" ui-route="/mac">
	<h2>Installing PhpStorm on Mac</h2>

	<p>Download</p>
	<ul>
		<li><a href="http://www.jetbrains.com/phpstorm/download/" target="_blank">http://www.jetbrains.com/phpstorm/download/</a></li>
		<li>Mac OS X (Tab)</li>
		<li>Get PhpStorm 7 Now</li>
	</ul>
	<p>Install</p>
	<ul>
		<li>mount dmg</li>
		<li>run installer</li>
		<li>if java is not installed the installer will also install java jre</li>
	</ul>
</div>


<!-- Linux -->
<div ng-show="$uiRoute" ui-route="/linux">
	<h2>Installing PhpStorm on Linux (Debian)</h2>

	<p>Prerequisites</p>
	<ul>
		<li>java jdk or java jre</li>
		<li>jdk recommend for developers</li>
	</ul>
	<p>Download</p>
	<ul>
		<li><a href="http://www.jetbrains.com/phpstorm/download/" target="_blank">http://www.jetbrains.com/phpstorm/download/</a></li>
		<li>Linux (Tab)</li>
		<li>Get PhpStorm 7 Now</li>
	</ul>
	<p>Install</p>
	<ul>
		<li>
			extract
			<ul>
				<li>/usr/share</li>
			</ul>
		</li>
	</ul>
</div>
